/* RESET */
*,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}

body {
  background: url("./images/bg.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Outfit", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  HEADER */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
}

header .logo,
header h3 {
  width: 100%;
  text-align: center;
  opacity: 0;
  animation-name: slide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

header h3 {
  font-size: 24px;
  color: #883116;
}

header a {
  font-size: 17px;
  color: #fff;
  background-color: #883116;
  border: 1px solid #883116;
  border-radius: 7px;
  padding: 15px 30px;
  margin: 30px auto;
}
/* MAIN  CONTENT */
.wrapper-content {
  margin-top: 30px;
}

.title {
  font-size: 28px;
  color: #ffa810;
  margin: 10px 0;
}

/* ANIMATION */

@keyframes slide {
  to {
    opacity: 1;
  }
}

/* RESPONSIVE */

@media screen and (max-width: 1041px) {
  body {
    overflow-y: auto;
    background-position: -108px 1px;
    overflow-x: hidden;
  }

  header .logo {
    width: 80%;
  }
  header .logo img {
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  body {
    background-position: -188px 1px;
  }
  header h3 {
    padding: 0 50px;
  }
}
